---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Buscando...",
    title: "Con ganas de aprender",
    company: "",
    description:
      "Busco aplicar mis habilidades en un entorno dinámico y colaborativo para contribuir al desarrollo de soluciones innovadoras en el ámbito de la tecnología.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
